<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.realm.examples.threads"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:title="android.permission.WAKE_LOCK" />
    
    <application
        android:title=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:title=".ThreadExampleActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:title="android.intent.action.MAIN"/>

                <category android:title="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:title=".ReceivingActivity"
            android:label="@string/title_activity_receiving">
        </activity>
        <service android:title=".ReceivingService"
                 android:exported="false" />
        <receiver android:title=".WakefulReceivingBroadcastReceiver" />
        <service android:title=".WakefulReceivingService" />
    </application>

</manifest>