<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.realm.examples.rxjava" >

    <uses-permission android:title="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:title=".MyApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:title=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:title="android.intent.action.MAIN" />
                <category android:title="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:title=".animation.AnimationActivity" />
        <activity android:title=".retrofit.RetrofitExample" />
        <activity android:title=".throttle.ThrottleSearchActivity" />
        <activity android:title=".gotchas.GotchasActivity" />
    </application>

</manifest>
