<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nemanjaasuv1912.diplomskirad">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SignupActivity"
            android:parentActivityName=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.SubjectActivity"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.ChooseSubjectsActivity"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.SubjectPostActivity"
            android:parentActivityName=".ui.activity.SubjectActivity" />
        <activity
            android:name=".ui.activity.CreateNewPostActivity"
            android:parentActivityName=".ui.activity.SubjectActivity" />
    </application>

</manifest>